body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background: #f2f2f2;
	padding: 100px 15px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--accent-color: #4bcfa0;
}
ul {
	padding: 0;
}
ul li {
	list-style: none;
}
::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
}
::-moz-placeholder {
	color: rgba(0, 0, 0, 0.5);
}
:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
}
:-moz-placeholder {
	color: rgba(0, 0, 0, 0.5);
}
.card-category {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #000000;
	opacity: 0.5;
}
.card-name {
	font-size: 40px;
	line-height: 48px;
	letter-spacing: -0.02em;
	color: #000000;
	font-weight: 400;
	text-transform: capitalize;
	display: block;
	margin: 8px 0 40px;
}
.card-price {
	font-weight: 400;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: -0.02em;
	color: #000000;
}
.card-price-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-btn {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	border-radius: 16px;
	transition: 0.3s;
	color: var(--accent-color);
	background-color: transparent;
	width: 64px;
	height: 56px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	font-weight: 500;
}
.card-btn:hover {
	color: #fff;
	background-color: var(--accent-color);
	border: 1px solid transparent;
}
.card-img {
	margin: 0 5px 12px 0;
}
